menuconfig ARCH_NEXELL
	bool "Nexell SoCs"
	select ARM_AMBA
	select HAVE_SMP
	select ARCH_HAS_CPUFREQ
	select GENERIC_TIME
	select GENERIC_CLOCKEVENTS
	select ZONE_DMA
	select SPARSE_IRQ
	select COMMON_CLK
	select PINCTRL
	select ARCH_REQUIRE_GPIOLIB
	select ARM_PATCH_PHYS_VIRT
	select USE_OF
	select VIRT_TO_BUS
	select HAVE_S3C2410_I2C if I2C
	select HAVE_S3C2410_WATCHDOG if WATCHDOG

if ARCH_NEXELL

config ARCH_NXP3220_COMMON
	bool
	select CPU_V7
	select ARM_GIC
	select HAVE_ARM_ARCH_TIMER

config ARCH_NXP3220
	bool "NXP3220"
	select ARCH_NXP3220_COMMON
	help
	   Nexell NXP3220 (ARM Cortex A7) SoC based systems

config ARCH_SIP_S31NX
	bool "SIP_S31NX"
	select ARCH_NXP3220_COMMON
	help
	  Nexell SIP_S31NX (ARM Cortex A7) based on NXP3220

endif

config SMP_IRQ_AFFINITY
	bool "SMP IRQ AFFINITY"
	depends on ARCH_NXP3220_COMMON
	help
	  This enbalse support allows multi-core to handle irq.

config QUICKBOOT_DEFERRED_INIT
	bool "deferred initcall for quickboot"
	depends on ARCH_NEXELL
	default n
	help
	  This option delays some initcall to support quickboot.

config QUICKBOOT_QUIET
	bool "quickboot quiet booting"
	default n
	help
	  This enables quiet booting for nexell quickboot.

config LATE_INIT_TO_DEFER
	bool "late init to defer for quickboot"
	default n
	help
	  This option delays late initcall for quickboot.

menu "Deferred initcall features"
	depends on QUICKBOOT_DEFERRED_INIT

config DEFERRED_CRYPTO
	bool "deferred initcall crypto"

config DEFERRED_BLOCK_LOOP
	bool "deferred initcall block loop"

config DEFERRED_BLUETOOTH
	bool "deferred initcall bluetooth"

config DEFERRED_ADC
	bool "deferred initcall adc"

config DEFERRED_KEYPAD
	bool "deferred initcall keypad"

config DEFERRED_BUFIO
	bool "deferred initcall buffered IO"

config DEFERRED_DECIMATOR
	bool "deferred initcall decimator"

config DEFERRED_NXE2000
	bool "deferred initcall NXE2000"

config DEFERRED_NEXELL_MMC
	bool "deferred initcall NEXELL MMC"

config DEFERRED_DWC_ETHERNET
	bool "deferred initcall dwc ethernet"

config DEFERRED_TMU
	bool "deferred initcall TMU"

config DEFERRED_DWC_PLAT
	bool "deferred initcall dwc platform"

config DEFERRED_EHCI_PLAT
	bool "deferred initcall ehci platform"

config DEFERRED_OHCI_PLAT
	bool "deferred initcall ohci platform"

config DEFERRED_SLAB_SYSFS
	bool "deferred initcall slab sysfs"

config DEFERRED_IPV6
	bool "deferred initcall ipv6"

config DEFERRED_SOUND_I2S
	bool "deferred initcall SOUND I2S"

config DEFERRED_SOUND_PDM
	bool "deferred initcall SOUND PDM"

endmenu
