// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "nexell,nxp3220";
	#address-cells = <0x1>;
	#size-cells = <0x1>;

	aliases {
		pinctrl0 = &pinctrl_0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0>;
			clock-frequency = <800000000>;
			/* To be added clock */
			#cooling-cells = <2>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <1>;
			clock-frequency = <800000000>;
		};
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		interrupt-parent = <&gic>;
		ranges;

		gic: interrupt-controller@22011000 {
			compatible = "arm,cortex-a7-gic";
			reg = <0 0x22011000 0 0x1000>,
			      <0 0x22012000 0 0x1000>,
			      <0 0x22014000 0 0x2000>,
			      <0 0x22016000 0 0x2000>;
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>;
		};

		pinctrl_0: pinctrl@20180000 {
			compatible = "nexell,sip_s31nx-pinctrl";
			reg = <0x20180000 0x1000
				0x20190000 0x1000
				0x201a0000 0x1000
				0x201b0000 0x1000
				0x201c0000 0x1000
				0x2008d000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			interrupts = <0 45 0>,
				<0 46 0>,
				<0 47 0>,
				<0 48 0>,
				<0 49 0>,
				<0 101 0>;
		};
	};
};

#include "nxp3220-pinctrl.dtsi"
