// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "nxp3220.dtsi"
#include "nxp3220-vtk-common.dtsi"

#define PMIC_PDATA_INIT(_id, _rname, _minuv,		\
                        _maxuv, _init_uv, _init_enable,	\
                        _set_init_uV, _slp_slots)	\
                regulator-name = _rname;                \
                regulator-min-microvolt = <_minuv>;     \
                regulator-max-microvolt = <_maxuv>;     \
                nx,id = <_id>;                          \
                nx,init_enable = <_init_enable>;        \
                nx,init_uV = <_init_uv>;                \
                nx,set_init_uV = <_set_init_uV>;        \
                nx,sleep_slots = <_slp_slots>;

/ {
	snd_null_codec0:snd_null_codec@0 {
        	 #sound-dai-cells = <0>;
         	compatible = "nexell,snd-null-codec";
         	status = "okay";
	};

	snd_null_codec1:snd_null_codec@1 {
        	 #sound-dai-cells = <0>;
         	compatible = "nexell,snd-null-codec";
         	status = "okay";
	};

	snd_null_codec2:snd_null_codec@2 {
        	 #sound-dai-cells = <0>;
         	compatible = "nexell,snd-null-codec";
         	status = "okay";
	};

	snd_null_codec3:snd_null_codec@3 {
        	 #sound-dai-cells = <0>;
         	compatible = "nexell,snd-null-codec";
         	status = "okay";
	};

	sound0: sound0 {
		simple-audio-card,name = "nxp3220 Audio Card Null0";
		status = "okay";

		simple-audio-card,dai-link@0 {
			sndcodec0: codec {
				sound-dai = <&snd_null_codec0>;
			};
		};
	};

	sound1: sound1 {
		simple-audio-card,name = "nxp3220 Audio Card Null1";
		status = "okay";

		simple-audio-card,dai-link@0 {
			sndcodec1: codec {
				sound-dai = <&snd_null_codec1>;
			};
		};
	};

	sound2: sound2 {
		simple-audio-card,name = "nxp3220 Audio Card Null2";
		status = "okay";

		simple-audio-card,dai-link@0 {
			sndcodec2: codec {
				sound-dai = <&snd_null_codec2>;
			};
		};
	};

	sound3: sound3 {
		simple-audio-card,name = "nxp3220 Audio Card Null3";
		status = "okay";

		simple-audio-card,dai-link@0 {
			sndcodec3: codec {
				sound-dai = <&snd_null_codec3>;
			};
		};
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			thermal-sensors = <&tmuctrl_0>;
			polling-delay-passive = <1000>;
			polling-delay = <1000>;
			trips {
				cpu_alert0: cpu-alert-0 {
					temperature = <40000>;
					hysteresis = <10000>;
					type = "passive";
				};
				cpu_alert1: cpu-alert-1 {
					temperature = <50000>;
					hysteresis = <10000>;
					type = "passive";
				};
				cpu_alert2: cpu-alert-2 {
					temperature = <55000>;
					hysteresis = <10000>;
					type = "passive";
				};
				cpu-crit-0 {
					temperature = <65000>;
					hysteresis = <10000>;
					type = "critical";
				};
			};
		};
	};

	timer {
		status = "disabled";
	};
};

&drm {
	status = "okay";
};

&dp_green {
	#if 0
	nexell,pins = "gpioa-8", "gpioa-9", "gpioa-10", "gpioa-11",
		"gpioa-12", "gpiod-0", "gpiod-1", "gpiod-2";
	#else
	nexell,pins = "gpioa-8", "gpioa-9", "gpioa-10", "gpioa-11", "gpioa-12";
	#endif
};

&dp_red{
	#if 0
	nexell,pins = "gpiod-3", "gpiod-4", "gpiod-5", "gpiod-9"
		"gpiod-6", "gpiod-7", "gpiod-8", "gpioa-18";
	#else
	nexell,pins = "gpiod-18";
	#endif
};

&drm_rgb {
status = "ok";
display-timing {
		clock-frequency = <24500000>;
		hactive = <800>;
		hfront-porch = <8>;
		hback-porch = <13>;
		hsync-len = <3>;
		vactive = <480>;
		vfront-porch = <5>;
		vback-porch = <7>;
		vsync-len = <1>;
	};
};

&gmac0 {
	/* conflict USB NFS */
	status = "okay"; /* disabled */
};

&gmac1 {
	/* conflict USB NFS */
	status = "okay"; /* disabled */
};

&i2c_0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	nxe1500: nxe1500@33 {
		compatible = "nexell,nxe1500";
		interrupt-parent = <&alive_0>;
		interrupts = <0x5 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_irq>;
		reg = <0x33>;

		regulators {
			VCC_DCDC0: dcdc1 {
					PMIC_PDATA_INIT( 0,
					"nxe1500_dcdc1",
					600000, 1400000,
					1100000, 1, 0, 0x4)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_DCDC1: dcdc2 {
					PMIC_PDATA_INIT( 1,
					"nxe1500_dcdc2",
					975000, 1000000,
					1000000, 1, 0, 0x4)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_DCDC2: dcdc3 {
					PMIC_PDATA_INIT( 2,
					"nxe1500_dcdc3",
					1500000, 1500000,
					1500000, 1, 0, 0xF)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_DCDC3: dcdc4 {
					PMIC_PDATA_INIT( 3,
					"nxe1500_dcdc4",
					1500000, 1500000,
					1500000, 1, 0, 0xF)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_LDO0: ldo1 {
					PMIC_PDATA_INIT( 5,
					"nxe1500_ldo1",
					3300000, 3300000,
					3300000, 1, 0, 0x2)
					regulator-boot-on;
				};

			VCC_LDO1: ldo2 {
					PMIC_PDATA_INIT( 6,
					"nxe1500_ldo2",
					1800000, 1800000,
					1800000, 1, 0, 0x3)
					regulator-boot-on;
				};

			VCC_LDO2: ldo3 { PMIC_PDATA_INIT( 7,
					"nxe1500_ldo3",
					3300000, 3300000,
					3300000, 1, 0, 0x2)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_LDO3: ldo4 {
					PMIC_PDATA_INIT( 8,
					"nxe1500_ldo4",
					1500000, 1500000,
					1500000, 1, 0, 0x3)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_LDO4: ldo5 {
					PMIC_PDATA_INIT( 9,
					"nxe1500_ldo5",
					1000000, 1000000,
					1000000, 1, 0, 0x4)
					regulator-boot-on;
				};

			VCC_RTC0: ldortc1 {
					PMIC_PDATA_INIT(15,
					"nxe1500_rtc1",
					1700000, 3500000,
					1800000, 1, 1, 0xF)
					regulator-always-on;
					regulator-boot-on;
				};

			VCC_RTC1: ldortc2 {
					PMIC_PDATA_INIT(16,
					"nxe1500_rtc2",
					1000000, 3500000,
					1000000, 1, 1, 0xF)
					regulator-always-on;
					regulator-boot-on;
				};

		}; /* regulators */
	}; /* nxe1500@33 */
};

&i2c_1 {
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        samsung,i2c-sda-delay = <100>;
        samsung,i2c-max-bus-freq = <100000>;
};

&i2c_2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/delete-property/pinctrl-0;
	/delete-property/alc5623_0;
};

&i2c_3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/delete-property/pinctrl-0;
	/delete-property/alc5623_1;
};

&i2c_4 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/delete-property/pinctrl-0;
	/delete-property/alc5623_2;
};

&i2s2 {
	/delete-property/pinctrl-0;
};

&pinctrl_0 {
	pmic_irq: sm5011-irq {
		nexell,pins = "alive-1";
		nexell,pin-function = <NX_PIN_FUNC0>;
		nexell,pin-pull = <NX_PIN_PULL_NONE>;
		nexell,pin-strength = <NX_PIN_STR0>;
	};

	cfg_wlanhostwake: cfg-wlanhostwake {
		nexell,pins = "alive-3";
		nexell,pin-function = <NX_PIN_FUNC0>;
		nexell,pin-pull = <NX_PIN_PULL_UP>;
		nexell,pin-strength = <NX_PIN_STR0>;
	};
};

&pwm {
	nexell,pwm-outputs = <0>, <1>, <2>, <3>;
	tclk_freq = <100000000>, <100000000>, <100000000>, <100000000>;
};

&uart0 {
	status = "okay";
};

&sys_bus {
	status = "okay";
	vdd-supply = <&VCC_DCDC1>; /* "VDD_CORE_1P0" */
};

&vpu {
	status = "okay";
};
