// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

/dts-v1/;
#include "nxp3220.dtsi"

/ {
	model = "Nexell nxp3220 validation test board";
	compatible = "nexell,nxp3220-vtk", "nexell,nxp3220";

	chosen {
		stdout-path = &uart2;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x20000000>;
	};
};

&dwmmc_0 {
	cap-mmc-highspeed;
	broken-cd;
	non-removable;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&dwmmc_1 {
	cap-sd-highspeed;
	broken-cd;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&dwmmc_2 {
	cap-mmc-highspeed;
	broken-cd;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&uart2 {
	status = "okay";
};
