#define S_EFUSE_NODE_DATA(_reg, _size, _name, _id) \
		compatible = "nexell,nxp3220-efuse"; \
		reg = <_reg _size>; \
		cell-name = _name; \
		cell-id = <_id>;

	sefuse_secid: efuse@20070100 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x100, 0x10, "secid", 0)
	};

	sefuse_bootkey0: efuse@20070110 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x110, 0x10, "sboot_key", 0)
	};

	sefuse_bootkey1: efuse@20070120 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x120, 0x10, "sboot_key", 1)
	};

	sefuse_boothash0: efuse@20070150 { /* 256 bits */
		S_EFUSE_NODE_DATA(0x150, 0x20, "sboot_hash", 0)
	};

	sefuse_boothash1: efuse@20070190 { /* 256 bits */
		S_EFUSE_NODE_DATA(0x190, 0x20, "sboot_hash", 1)
	};

	sefuse_boothash2: efuse@200701b0 { /* 256 bits */
		S_EFUSE_NODE_DATA(0x1b0, 0x20, "sboot_hash", 2)
	};

	sefuse_jtag: efuse@200701d0 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x1d0, 0x10, "sjtag", 0)
	};

	sefuse_user0: efuse@200701e0 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x1e0, 0x10, "user", 0)
	};

	sefuse_user1: efuse@20070210 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x210, 0x10, "user", 1)
	};

	sefuse_user2: efuse@20070220 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x220, 0x10, "user", 2)
	};

	sefuse_user3: efuse@20070230 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x230, 0x10, "user", 3)
	};

	sefuse_user4: efuse@20070240 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x240, 0x10, "user", 4)
	};

	sefuse_user5: efuse@20070250 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x250, 0x10, "user", 5)
	};

	sefuse_user6: efuse@20070260 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x260, 0x10, "user", 6)
	};

	sefuse_user7: efuse@20070270 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x270, 0x10, "user", 7)
	};

	sefuse_user8: efuse@20070280 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x280, 0x10, "user", 8)
	};

	sefuse_user9: efuse@20070290 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x290, 0x10, "user", 9)
	};

	sefuse_user10: efuse@200702a0 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x2a0, 0x10, "user", 10)
	};

	sefuse_user11: efuse@200702b0 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x2b0, 0x10, "user", 11)
	};

	sefuse_user12: efuse@200702c0 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x2c0, 0x10, "user", 12)
	};

	sefuse_user13: efuse@200702d0 { /* 32 bits */
		S_EFUSE_NODE_DATA(0x2d0, 0x4, "user", 13)
	};

	sefuse_cfg: efuse@200701f0 { /* 32 bits */
		S_EFUSE_NODE_DATA(0x1f0, 0x4, "efuse_cfg", 0)
	};

	sefuse_prot: efuse@200701f4 { /* 32 bits */
		S_EFUSE_NODE_DATA(0x1f4, 0x4, "efuse_prot", 0)
	};

	sefuse_bootcfg: efuse@20070200 { /* 32 bits */
		S_EFUSE_NODE_DATA(0x200, 0x4, "boot_cfg", 0)
	};

	sefuse_chipname: efuse@20070000 { /* 384 bits */
		S_EFUSE_NODE_DATA(0x000, 0x30, "chipname", 0)
	};

	sefuse_guid: efuse@20070034 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x034, 0x10, "guid", 0)
	};

	sefuse_hpm: efuse@20070530 { /* 128 bits */
		S_EFUSE_NODE_DATA(0x530, 0x10, "hpm", 0)
	};
