// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

#include "sip-s31nx.dtsi"

/ {
	compatible = "samsung,artik310s", "nexell,nxp3220";

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x1f000000>;
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			thermal-sensors = <&tmuctrl_0>;
			polling-delay-passive = <1000>;
			polling-delay = <1000>;
			trips {
				cpu_alert0: cpu-alert-0 {
					temperature = <90000>;
					hysteresis = <0>;
					type = "passive";
				};
				cpu_alert1: cpu-alert-1 {
					temperature = <100000>;
					hysteresis = <0>;
					type = "passive";
				};
				cpu_alert2: cpu-alert-2 {
					temperature = <110000>;
					hysteresis = <0>;
					type = "passive";
				};
				cpu-crit-0 {
					temperature = <115000>;
					hysteresis = <0>;
					type = "critical";
				};
			};
		};
	};

	artik_zb_power {
		compatible = "samsung,artik_zb_power";
		vdd_zb-supply = <&ldo20_reg>;     /* PVDD_LDO20_3P3 */
		reset-gpio = <&gpio_c 16 0>;      /* AP_ZB_RSTn = GPC16 */
		bootloader-gpio = <&gpio_b 19 0>; /* AP_ZIG_RBI = GPB19 */
		status = "okay";
	};

	sd8x_rfkill: sd8x-rfkill {
		 compatible = "mrvl,sd8x-rfkill";
		 sd-host = <&dwmmc_1>;
		 pd-gpio = <&alive_0 4 0>; /* AliveGPIO4=AP_COMBO_PDN output*/
		 gpios = <&alive_0 3 1>; /* AliveGPIO3=COMBE_HOST_WAKE, input */
		 vdd_bt_wlna_io_3p3-supply = <&ldo16_reg>;  /* PVDD_LDO16_3P3 */
		 vdd_bt_wlna_2p2-supply = <&ldo17_reg>;     /* PVDD_LDO17_2P2 */
		 vdd_bt_wlna_1p8-supply = <&ldo18_reg>;     /* PVDD_LDO18_1P8 */
		 status = "okay";
	};

	sd8xxx-wlan {
		 drvdbg  = <0x37>;
		 drv_mode = <0x5>;
		 cfg80211_wext = <0xf>;
		 sta_name = "wlan";
		 wfd_name = "p2p";
		 max_vir_bss = <1>;
		 cal_data_cfg = "mrvl/WlanCalData_ext.conf";
		 fw_name = "mrvl/sdsd8977_combo_v2.bin";
		 reg_alpha2 = "US";
		 p2p_enh = <1>;
		 inact_tmo = <300>;
		 txpwrlimit_cfg = "mrvl/txpwrlimit_cfg.bin";
	};

	sd8xxx-bt {
		 init_cfg = "mrvl/bt_init_cfg.conf";
		 cal_cfg = "mrvl/bt_cal_data.conf";
	};
};

&cpu0 {
	cpu-supply = <&buck2_reg>;
};

&cpu0_opp_table {
	opp-0 {
		opp-hz = /bits/ 64 <100000000>;
		opp-microvolt = <1100000>;
	};
	opp-1 {
		opp-hz = /bits/ 64 <200000000>;
		opp-microvolt = <1100000>;
	};
	opp-2 {
		opp-hz = /bits/ 64 <300000000>;
		opp-microvolt = <1100000>;
	};
	opp-3 {
		opp-hz = /bits/ 64 <400000000>;
		opp-microvolt = <1100000>;
	};
	opp-4 {
		opp-hz = /bits/ 64 <500000000>;
		opp-microvolt = <1100000>;
	};
	opp-5 {
		opp-hz = /bits/ 64 <600000000>;
		opp-microvolt = <1100000>;
	};
	opp-6 {
		opp-hz = /bits/ 64 <700000000>;
		opp-microvolt = <1100000>;
	};
	opp-7 {
		opp-hz = /bits/ 64 <800000000>;
		opp-microvolt = <1100000>;
	};
	opp-8 {
		opp-hz = /bits/ 64 <900000000>;
		opp-microvolt = <1100000>;
	};
	opp-9 {
		opp-hz = /bits/ 64 <1000000000>;
		opp-microvolt = <1100000>;
	};
};

&dwmmc_0 {
	cap-mmc-highspeed;
	non-removable;
	mmc-ddr-3_3v;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&i2c_0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	sm5011: sm5011-pmic@47 {
		compatible = "sm,sm5011";
		interrupt-parent = <&alive_0>;
		interrupts = <1 IRQ_TYPE_NONE>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_irq>;
		reg = <0x47>;

		voltage-regulators {
			buck2_reg: BUCK2 {
				regulator-name = "VDD_CPU_1P0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1100000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck3_reg: BUCK3 {
				regulator-name = "VDD_DDRIO_1P5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck4_reg: BUCK4 {
				regulator-name = "VDD_DDR_1P0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck5_reg: BUCK5 {
				regulator-name = "VDD_CORE_1P0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck6_reg: BUCK6 {
				regulator-name = "VDD_DDR_1P5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo1_reg: LDO1 {
				regulator-name = "VDD_PLL0_1P0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo2_reg: LDO2 {
				regulator-name = "VDD_PLL0_1P8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo3_reg: LDO3 {
				regulator-name = "VDD_EMMC_IO_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo4_reg: LDO4 {
				regulator-name = "VDD_ALIVE_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo5_reg: LDO5 {
				regulator-name = "VDD_ALIVE_1P8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo6_reg: LDO6 {
				regulator-name = "VDD_ALIVE_1P0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo7_reg: LDO7 {
				regulator-name = "VDD_EFUSE_1P5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
			};

			ldo9_reg: LDO9 {
				regulator-name = "VDD_USB_1P0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo10_reg: LDO10 {
				regulator-name = "VDD_USB_1P8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo11_reg: LDO11 {
				regulator-name = "VDD_USB_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo12_reg: LDO12 {
				regulator-name = "VDD_LDO12_1P8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo13_reg: LDO13 {
				regulator-name = "VDD_LDO13_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo14_reg: LDO14 {
				regulator-name = "VDD_MM_1P0_AP";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo15_reg: LDO15 {
				regulator-name = "VDD_DDRPLL_1P8_AP";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo16_reg: LDO16 {
				regulator-name = "VDD_BT_WLAN_IO_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo17_reg: LDO17 {
				regulator-name = "VDD_BT_WLAN_2P2";
				regulator-min-microvolt = <2200000>;
				regulator-max-microvolt = <2200000>;
			};

			ldo18_reg: LDO18 {
				regulator-name = "VDD_BT_WLAN_1P8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			ldo20_reg: LDO20 {
				regulator-name = "VDD_ZB_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};
		};
	};
};

&pinctrl_0 {
	pmic_irq: sm5011-irq {
		nexell,pins = "alive-1";
		nexell,pin-function = <NX_PIN_FUNC0>;
		nexell,pin-pull = <NX_PIN_PULL_NONE>;
		nexell,pin-strength = <NX_PIN_STR0>;
	};

	cfg_wlanhostwake: cfg-wlanhostwake {
		nexell,pins = "alive-3";
		nexell,pin-function = <NX_PIN_FUNC0>;
		nexell,pin-pull = <NX_PIN_PULL_UP>;
		nexell,pin-strength = <NX_PIN_STR0>;
	};
};

&tmuctrl_0 {
	status = "okay";
};

&uart6 {
	status = "okay";
	pinctrl-0 = <&uart6_bus &uart6_hflow>;
};

&dwmmc_1 {
	status = "okay";
	num-slots = <1>;
	bus-width = <4>;
	cap-sd-highspeed;

	broken-cd;
	clock-frequency = <200000000>;
	supports-detect-complete;

	nexell,drive_shift = <0x2>;
	nexell,sample_shift = <0x2>;

	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_clk &mmc1_cmd &mmc1_bus4 &cfg_wlanhostwake>;
};
