// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

#include "sip-s31nx.dtsi"

/ {
	compatible = "samsung,artik310s", "nexell,nxp3220";

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x1f000000>;
	};
};

&dwmmc_0 {
	cap-mmc-highspeed;
	non-removable;
	mmc-ddr-3_3v;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};
