// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

#include "sip-s31nx.dtsi"

/ {
	compatible = "samsung,artik310s", "nexell,nxp3220";

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x1f000000>;
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			thermal-sensors = <&tmuctrl_0>;
			polling-delay-passive = <1000>;
			polling-delay = <1000>;
			trips {
				cpu_alert0: cpu-alert-0 {
					temperature = <90000>;
					hysteresis = <0>;
					type = "passive";
				};
				cpu_alert1: cpu-alert-1 {
					temperature = <100000>;
					hysteresis = <0>;
					type = "passive";
				};
				cpu_alert2: cpu-alert-2 {
					temperature = <110000>;
					hysteresis = <0>;
					type = "passive";
				};
				cpu-crit-0 {
					temperature = <115000>;
					hysteresis = <0>;
					type = "critical";
				};
			};
		};
	};

	artik_zb_power {
		compatible = "samsung,artik_zb_power";
		/*vdd_zb-supply = <&VCC_LDO20>;*/     /* PVDD_LDO20_3P3 */
		reset-gpio = <&gpio_c 16 0>;      /* AP_ZB_RSTn = GPC16 */
		bootloader-gpio = <&gpio_b 19 0>; /* AP_ZIG_RBI = GPB19 */
		status = "okay";
	};
};

&dwmmc_0 {
	cap-mmc-highspeed;
	non-removable;
	mmc-ddr-3_3v;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&tmuctrl_0 {
	status = "okay";
};

&uart6 {
	status = "okay";
	pinctrl-0 = <&uart6_bus &uart6_hflow>;
};
