// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

#include "sip-s31nx-artik310s.dtsi"

/ {
	model = "Samsung artik310s trike board based on sip-s31nx";
	compatible = "samsung,artik310s-trike", "samsung,artik310s",
		   "nexell,nxp3220";

	chosen {
		stdout-path = &uart0;
	};
};

&adc {
	status = "okay";
	assigned-clocks = <&cmu CLK_ADC0_APB>;
	assigned-clock-rates = <100000000>;
};

&dwc2otg {
	status = "okay";
};

&dwmmc_2 {
	cap-mmc-highspeed;
	cd-gpios = <&gpio_b 24 0>;
	cd-inverted;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&ehci {
	status = "okay";
};

&i2c_1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c_2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c_3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c_4 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&pwm {
	status = "okay";
	nexell,pwm-outputs = <0>, <1>, <2>, <3>;
	assigned-clocks = <&cmu CLK_PWM0_APB>;
	assigned-clock-rates = <166000000>;
};

&rtc {
	status = "okay";
};

&spi_1 {
	status = "okay";
	assigned-clocks = <&cmu CLK_SPI1_APB>, <&cmu CLK_SPI1_CORE>;
	assigned-clock-rates = <200000000>, <200000000>;
	cs-gpios = <&gpio_a 9 0>;

	spidev@0 {
		compatible = "linux,spidev";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};

&spi_2 {
	status = "okay";
	assigned-clocks = <&cmu CLK_SPI2_APB>, <&cmu CLK_SPI2_CORE>;
	assigned-clock-rates = <200000000>, <200000000>;
	cs-gpios = <&gpio_a 13 0>;

	spidev@0 {
		compatible = "linux,spidev";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usb2phy {
	status = "okay";
	otg,vbus-gpio = <&gpio_c 12 0>;
	ehci,vbus-gpio = <&gpio_b 23 0>;
};
