// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018  Nexell Co., Ltd.
 * Author: JungHyun, Kim <jhkim@nexell.co.kr>
 */

#include "sip-s31nx-artik310s.dtsi"

/ {
	model = "Samsung artik310s trike board based on sip-s31nx";
	compatible = "samsung,artik310s-trike", "samsung,artik310s",
		   "nexell,nxp3220";

	chosen {
		stdout-path = &uart0;
	};
};

&dwmmc_2 {
	cap-mmc-highspeed;
	cd-gpios = <&gpio_b 24 0>;
	cd-inverted;
	nexell,drive_shift = <0x04>;
	nexell,sample_shift = <0x04>;
	card-detect-delay = <200>;
	disable-wp;
	status = "okay";
};

&i2c_1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c_2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c_3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c_4 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&uart0 {
	status = "okay";
};
